/* COLORS
    olive green: #565902
    tan: #d9b36c
    brown: #735645
    dark red: #730c02
    muted red: #732626
    logo:https://onlinelogomaker.com/logomaker/?project=73863139
*/
/*General CSS*/
body {
    font-family: Arial, sans-serif;
    background-image: url(../images/newHomePizza2.jpg);
    background-size: cover;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h1, h2 {
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: normal;
}
p {
    color: white;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
    width: 100%
}
.main {
    width: 100%;
    margin: 0;
}
.single-row {
    width: 100%;
}
/* Header */

.col-left {
    width: 35%;
}

.col-left img{
    float: center;
}

.col-right {
    width: 65%;
}
.menu1, .menu2, .menu3 {
    float: right;
    padding-left: 15px;
    padding-right: 15px;
}
.button {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 28px;
    border-radius: 6px;
    color: #fff;
    background-color: #730c02;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
}

.btn-info {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    cursor: pointer;
    border: 1px solid #CECECE;
    border-radius: 4px;
    text-decoration: none;
}
.bt-info:hover {
    color: #333;
    background-color: #732626;
    border-color: #adadad;
}

/* Main Body */

hr {
    margin-top: 20%;
    border: 0;
}

.col-full {
    width: 100%;
    float: center;
}

.col-full img {
    width: 98%;
    border-radius: 0.5%;
    opacity: 0.8;
}

.col-1 {
    
    width: 30%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0; 
    right: 0;
    width: 100%;
}