/* COLORS
    olive green: #565902
    tan: #d9b36c
    brown: #735645
    dark red: #730c02
    muted red: #732626
    logo:https://onlinelogomaker.com/logomaker/?project=73863139
*/
/*General CSS*/
body {
    font-family: Arial, sans-serif;
    /*background-image: url(../images/newHomePizza2.jpg);
    background-size: cover;*/
    color: white;
}
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/newHomePizza2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.9;
    filter:alpha(opacity=90);
}

/* Header */
#menuBtn {
    border: none;
    color: #fff;
    background-color: #730c02;
    text-transform: uppercase;
}


/* Main Body */
.list-group-item{
    color: #000;

}

#pageBtn {
    border: none;
    color: #fff;
    background-color: #d9b36c;
    text-transform: uppercase;
}

#addToCartBtn {
    border: none;
    color: #fff;
    background-color: #565902;
    justify-content: right;
    margin: 10px;
    text-transform: uppercase;
}

#menuImage {
    width: 100%;
    height: 100%;
}

#homeImage {
    width: 300px;
    height: 300px;
}

/* Footer */
#footer-p {
    padding: 30px 0;
}